<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ueeversion1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ueeversion1">
        <activity android:name=".FinalOrder"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".Review.ReviewPopupUpdate"
            android:theme="@style/AppTheme.ReviewPopup" />
        <activity
            android:name=".Review.ReviewPopupAdd"
            android:theme="@style/AppTheme.ReviewPopup" />
        <activity android:name=".Review.ShowReview" />
        <activity android:name=".Delivery.DeliveryAdd2" />
        <activity android:name=".Delivery.DeliveryAdd" />
        <activity
            android:name=".WishListActivity"
            android:exported="true" />
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".AdminUserList"
            android:exported="true" />
        <activity
            android:name=".AdminPanels"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="true" />
        <activity
            android:name=".UpdateProfile"
            android:exported="true" />
        <activity
            android:name=".Changeprofile"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".ViewAllTypes" />
        <activity android:name=".UserBuyProduct" />
        <activity android:name=".NewProductView" />
        <activity android:name=".AdminViewCategory"
            android:parentActivityName=".AdminPanels"/>
        <activity
            android:name=".UserCategory"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ProductView" />
        <activity android:name=".UserItemView" />
        <activity android:name=".AdminMaintainItem"
            android:parentActivityName=".AdminViewCategory"/>
        <activity android:name=".AdminItemsView"
            android:parentActivityName=".AdminViewCategory"/>
        <activity android:name=".AddProduct"
            android:parentActivityName=".AdminCategory"/>
        <activity android:name=".AdminCategory"
            android:parentActivityName=".AdminPanels"/>
        <activity android:name=".Admin" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>